<!--TODO : use controlvalueaccessor to reduce code-->

<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="form-group">
        <input [class.is-invalid]='registerForm.get("username").errors &&
       registerForm.get("username").touched' [class.is-valid]='!registerForm.get("username").errors &&
       registerForm.get("username").touched' type="text" class="form-control" formControlName="username"
            placeholder="Username">
        <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">Please enter a username
        </div>
    </div>
    <div class="form-group">
        <input [class.is-invalid]='registerForm.get("password").errors &&
       registerForm.get("password").touched' [class.is-valid]='!registerForm.get("password").errors &&
       registerForm.get("password").touched' type="text" class="form-control" formControlName="password"
            placeholder="Password">
        <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">Please enter a password
        </div>
        <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">Password must be min. 4
            characters</div>
        <div *ngIf="registerForm.get('password').hasError('maxlength')" class="invalid-feedback">Password must be max. 8
            characters</div>
    </div>
    <div class="form-group">
        <input [class.is-invalid]='registerForm.get("confirmPassword").errors &&
       registerForm.get("confirmPassword").touched' [class.is-valid]='!registerForm.get("confirmPassword").errors &&
       registerForm.get("confirmPassword").touched' type="text" class="form-control" formControlName="confirmPassword"
            placeholder="Confirm Password">
        <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback">Please enter a
            confirm password
        </div>
        <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback">Passwords must
            be the same</div>
    </div>

    <div class="row mt-5" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-default mr-2" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>

<!--<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>-->