<div class="container mt-5">
    <div *ngIf="!registerMode" style='text-align: center;'>
        <div class="row justify-content-center">
            <img src="../../assets/retail4u.ico" alt="retail4u icon">
            <h1><b>Office4U</b> Article Import/Export App</h1>
        </div>
        <p class="lead">find, import and export articles... sign up if you don't have a user profile</p>
        <div class="text-center">
            <button hidden="{{accountService.currentUser$ | async}}" (click)="registerToggle()"
                class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn btn-info btn-lg">Learn more</button>
        </div>
    </div>
    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)">
                </app-register>
            </div>
        </div>
    </div>
</div>